/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/
body{
	background:url(../app/webroot/img/bg.jpg)  no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
 	position:relative;
 	font-family: 'Open Sans', sans-serif;

}
.login-form {
	background:#FFF;
	width:32%;
	margin:9% auto 4% auto;
 	position: relative;
 	border-radius:10%;
}
.head {
	position: absolute;
	top:-15%;
	left: 35%;
}
.head img {
	border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	border:6px solid rgba(221, 218, 215, 0.23);
}
form {
	padding:24% 2em;
}
form li{
	border:1px solid #B4B2B2;
	list-style:none;
	margin-bottom:25px;
	width:100%;
	background:none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-o-	border-radius: 0.3em;
	-moz-border-radius: 0.3em;

}

.icon{
	background:url(../app/webroot/img/icons.png)  no-repeat 0px 0px;
	height:30px;
	width:30px;
	display: block;
	float:left;
	margin:7px -11px 0px 0px
}


input[type="text"], input[type="password"] {
	font-family: 'Open Sans', sans-serif;
	width:60%;
	padding:0.7em 2em 0.7em 1.7em;
	color:#858282;
	font-size:18px;
	outline: none;
	background: none;
	border:none;
	font-weight:600;
	}
form li:hover{
	border:1px solid #40A9DF;
	 box-shadow: 0 0 1em #40A9DF;
	 -webkit-box-shadow: 0 0 1em #40A9DF;
	 -o-box-shadow: 0 0 1em #40A9DF;
	 -moz-box-shadow: 0 0 1em #40A9DF;
}
input[type="submit"]{
	float:left;
	overflow: auto;
	font-size:18px;
	display: inline-block;
	font-weight:600;
	color: #fff;
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
	cursor: pointer;
	outline: none;
	padding:15px 10px;
	margin-top:3px;
	margin-left:30%;
	font-family: 'Open Sans', sans-serif;
	width:40%;
	border:none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-o-	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	background: #ffe49e; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffe49e 0%, #ffb700 3%, #ffad00 35%, #ff9000 97%, #e27f00 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe49e), color-stop(3%,#ffb700), color-stop(35%,#ffad00), color-stop(97%,#ff9000), color-stop(100%,#e27f00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffe49e 0%,#ffb700 3%,#ffad00 35%,#ff9000 97%,#e27f00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffe49e 0%,#ffb700 3%,#ffad00 35%,#ff9000 97%,#e27f00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffe49e 0%,#ffb700 3%,#ffad00 35%,#ff9000 97%,#e27f00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffe49e 0%,#ffb700 3%,#ffad00 35%,#ff9000 97%,#e27f00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe49e', endColorstr='#e27f00',GradientType=0 ); /* IE6-9 */
}
input[type="submit"]:hover{
	background: #e27f00; /* Old browsers */
	background: -moz-linear-gradient(top,  #e27f00 0%, #ff9000 3%, #ffad00 65%, #ffb700 97%, #ffe49e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e27f00), color-stop(3%,#ff9000), color-stop(65%,#ffad00), color-stop(97%,#ffb700), color-stop(100%,#ffe49e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e27f00 0%,#ff9000 3%,#ffad00 65%,#ffb700 97%,#ffe49e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e27f00 0%,#ff9000 3%,#ffad00 65%,#ffb700 97%,#ffe49e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e27f00 0%,#ff9000 3%,#ffad00 65%,#ffb700 97%,#ffe49e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e27f00 0%,#ff9000 3%,#ffad00 65%,#ffb700 97%,#ffe49e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e27f00', endColorstr='#ffe49e',GradientType=0 ); /* IE6-9 */
	
}
/***************************/
.p-container{
	margin-top:5em;
}
.p-container  i:before {
	background-color: #2da5da;	
}
.p-container  .rating label {
	color: #ccc;
	transition: color 0.3s;
	-o-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}

/****************/

.copy-right p a {
	font-family: 'Open Sans', sans-serif;	
	font-size: 1em;
	color:#FF8E03;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.copy-right p a:hover {
	color:#fff;
}
/*-----start-responsive-design------*/
@media (max-width:1024px){
.login-form  {
		margin:8% auto 0;
		width:45%;
	}
	.copy-right {
	left: 41%;
	bottom:-18%;
	}
}
@media (max-width:768px){
	.login-form  {
		margin:12% auto 0;
		width:57%;
	}
	.copy-right {
	left:38%;
	bottom:-14%;
	}
}
@media (max-width:640px){                                  
	.login-form  {
		margin:13% auto 0;
		width:70%;
	}
	.copy-right {
	left:36%;
	bottom:-18%;
	}
}
@media (max-width:480px){                                  
	.login-form  {
		margin:0% auto 0;
		width:90%;
	}
	.copy-right {
	left:30%;
	bottom:-17%;
	}
	
}
@media (max-width:320px){                                  
	.login-form  {
		margin:20% auto 0;
		width:95%;
	}
	form{
		padding:19% 1.5em; 
	}
	form li{
		margin-top:10px;
	}
	
	input[type="text"], input[type="password"]{
		font-size:15px;
		padding: 0.5em 1em 0.5em 1em;
	}
	input[type="submit"]{
		float:none;
		font-size: 15px;
		padding: 10px 10px;
		width: 40%;
		margin-left: 28%;
	}
	.head{
		top:-12%;
		left:35.5%;
	}
	.head img {
	width:69%;
	}

	.p-container{
		margin-top: 0;
		mar

	.icon{
		margin:6px -11px 0px 0px;
	}
	.copy-right {
	left:20%;
	bottom:-10%;
	}
}

.table
{
	font-size:13px !important;
}

.Subre{
	font-size: 20px;
float: left;
overflow: auto;
display: inline-block;
padding: 15px 10px;
margin-left: 30%;
margin-top: 3px;
outline: medium none;
border: medium none;
border-radius: 0.3em;
width: 200px;
background: rgb(255, 183, 0) none repeat scroll 0% 0%;
}